@import "variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";


/*Colors*/
.green {
    background: $primary;
}

.white {
    color: $white;
}

/*Navigation*/
nav {
    background: $primary;
}

.navbar-brand {
    color: $white;
}

/*Buttons*/
.btn-one {
    background: $primary;
    color: $white;
    border: none;
}

.btn-two {
    background: $primary;
    color: $white;
    border: 1px solid $white;    
}

// a.btn-hover {
//     background: $primary;
//     color: $white;
// }

// a .btn-hover:hover {
//     transform: scale(1.05);
//     background: $primary;
//     color: $white;
// }



/*NB NB*/
// img {
//     width: 100%;
//     max-width: 500px;
// }

// #posts div {
//     width: 500px;
//     padding: 20px;
//     border: 1px solid rgb(175, 175, 175);
//     margin: 30px 0 30px 0;

// }